

h3{
    text-align: center;
    color: black;
    float: right;
    padding-top: 70px;
    text-shadow: slategray;
}


.jumbotron {
	border-radius: 25px;
    background-color: transparent;
    margin-left: 1%;
    margin-right: 5%;
    margin-top: 1%;
}

.train{
    border-radius: 25px;
    border: 3px solid black;
}


.card-header {
    background: gray; 
    border-radius: 25px;
	border-style: solid;
	border-width: 1px;

}

.btn-outline-secondary {
    border-radius: 15px;
}